@import './color.css';
@import './typography.css';
@import './spacing.css';
@import './radius.css';
@import './shadow.css';
@import './motion.css';
@import './border.css';
@import './state.css';
@import './effects.css';
@import './layout.css';
@import './breakpoint.css';
@import './z-index.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-bg-canvas);
  color: var(--color-text-primary);
  letter-spacing: var(--tracking-normal);
}

code,
.font-mono {
  font-family: var(--font-mono);
}
